In [21]:
import pandas as pd
from sqlalchemy import create_engine

# Format: postgresql://user:password@host:port/nama_db
engine = create_engine('postgresql://riki:7f8d9bx4@localhost:5432/laravel_jsonb')

# Langsung pakai di pandas
df = pd.read_sql("SELECT id, master_table_id, master_table_name, data FROM master_table_data where master_table_id = 4", engine)

# Ekstrak JSONB
df_expanded = df['data'].apply(pd.Series)
df_final = pd.concat([df.drop(columns=['data']), df_expanded], axis=1)

# Tampilkan hasil
df_final.head()

,id,master_table_id,master_table_name,nama,email,pesan
0,13,4,Contact Us,Riki Krismawan,krismawan4@gmail.com,sudah cukup bagus
1,14,4,Contact Us,Dolorem eiusmod quis do accusamus ad illo do d...,qagofyfuc@mailinator.com,Itaque et ut consectetur non in eu magni sint ...

In [24]:
df_final.describe()

              id  master_table_id
count   2.000000              2.0
mean   13.500000              4.0
std     0.707107              0.0
min    13.000000              4.0
25%    13.250000              4.0
50%    13.500000              4.0
75%    13.750000              4.0
max    14.000000              4.0

In [25]:
df_final.dtypes

id                    int64
master_table_id       int64
master_table_name    object
nama                 object
email                object
pesan                object
dtype: object